body {
    background-color: #f8f8f8;
}

.timeme {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.menu {
    /* display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5px; */
    box-sizing: border-box;
    padding: 10px 15px;
    background-color: #fff;
}

/* .in-menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    background-color: #fff;
} */

.menu .box-logo h1 {
    display: inline-block;
    color: #0d6efd;
    margin: 0;
    vertical-align: middle;
    font-weight: 700;
}

a.link-centro {
    color: #000;
    text-decoration: none;
    margin: 0 5px;
}

.box-left{
    text-align: left;
}

.box-center{
    text-align: center;
}

.box-right{
    text-align: right;
}

.boton-menu-responsive{
    display: none;
}

.ul-box-menu {
    display: grid;
	grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.menu-parte-1{
    text-align: right;
}

.menu-parte-1 li {
    display: inline-block;
    
}

.menu-parte-2{
    text-align: right;
}

/* body */

/* banner */

.banner {
    background-color: #e1e1e1;
    box-sizing: border-box;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}

/*
.info-banner {
    
} 
*/

.nombre-cancion {
    vertical-align: middle;
    color: #0d6efd;
    font-size: 1.2em;
}


/* footer */

.footer {
    background-color: #0d6efd;
    box-sizing: border-box;
    padding: 5px 15px;
}

.footer p {
    margin: 0;
    color: #fff;
}

/* login */

.box-login {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.box-login .login form {
    width: 420px;
    box-sizing: border-box;
    padding: 120px 0 0 0;
}

.box-registro {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 40px 0 0 0;
}

.box-registro .registro{
    width: 420px;
}

/* canciones */

.content-sound {
    min-height: 100vh;
}

.box-canciones {
    box-sizing: border-box;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.box-canciones .item {
    text-align: center;
}

.box-canciones .item img{
    width: 150px;
}

.cancion {
    padding: 15px 0;
    background-color: #fff;
}


@media(max-width:1366px){
    
}

@media(max-width:999px){
    .boton-menu-responsive{
        display: block;
    }
}

@media(max-width:768px){


    .menu-parte-1 li {
        display: inline;
        text-align: left;
    }

    .ul-box-menu{
        grid-template-columns: 1fr;
    }

    .menu-parte-2 a.btn.btn-primary {
        display: block;
        text-align: left;
        padding-left: 0;
        background-color: #fff;
        border: none;
        color: #0a58ca;
    }

    .box-canciones {
        grid-template-columns: 1fr;
    }


}

@media(max-width:480px){

}

@media(max-width:365px){
}